@media screen and (min-width: 768px) {
    .main * {
        display: none;
    }
    .main::after{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 8vh;
        box-sizing: border-box;
        color: #fffa;
        content: 'This application is not available on large screens. Please use a device with a smaller screen.';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
    
}
body{
    background: #000;
    font-family: 'Avenir';
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next';
}
.main{
    background-image: url('../images/bg01.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    /* background: #eee; */
    position: absolute;
    inset: 0;
    border-radius: 2vh;
    padding: calc(1vh / 0.618); 
    box-sizing: border-box;
}
.main::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at 0 100%, #070200cc 40%, #85440399 100%);
    pointer-events: none;
}
.legends{
    padding-bottom: 20vh;
    z-index: 10;
}
.legends h1{
    font-weight: 500;
}
.dyBox-container{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: calc(1vh / 0.618);
    box-sizing: border-box;
    z-index: 10;
}
.dyBox{
    width: 100%;
    background: #ffffff18;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border-radius: calc(3vh / 0.618);
}
.dyBox.primary{
    height: 10vh;
}
.dyBox.secondary{
    height: 22vh;
}
.dyBox.tertiary{
    height: 32vh;
}
.dyBox.x-max{
    height: 72vh;
}
.inner-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: calc(3vh / 0.618);
}
.left-section{
    display: flex;
    align-items: center;
    width: calc(100% - 10vh);
    height: 100%;
    color: #fffb;
    padding-left: calc(2vh / 0.618);
    box-sizing: border-box;
    font-size: 0.9em;
}
.upload-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    scale: 0.85;
    border-radius: 50%;
    background: #fff;
}
.upload-btn .icon.new-file{
    fill: #136cb9;
    width: 2.25em;
    height: 2.25em;

}