body{
    background: #000;
    font-family: 'Avenir';
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next';
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    inset: 0;
    border-radius: 2vh;
    padding: 1vh;
    box-sizing: border-box;
}
.legends{
    padding-bottom: 20vh;
}
.legends h1{
    font-weight: 500;
}
.dyBox{
    width: 100%;
    height: fit-content;
    height: 80vh;
    /* position: absolute; */
    background: orange;
    opacity: 0.5;
}