@media screen and (min-width: 768px) {
    .main * {
        display: none;
    }
    .main::after{
        background: radial-gradient(ellipse at 0 100%, #34302f 40%, #854403 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 8vh;
        box-sizing: border-box;
        color: #fffa;
        content: 'This application is not yet available on large screens. Please use a device with a smaller screen.';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
    
}
body{
    background: #000;
    font-family: 'Avenir';
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: 'Avenir Next';
}
.main{
    background-image: url('../images/bg01.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    /* background: #eee; */
    position: absolute;
    inset: 0;
    border-radius: 2vh;
    padding: calc(1vh / 0.618); 
    box-sizing: border-box;
}
.main::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at 0 100%, #070200cc 40%, #85440399 100%);
    pointer-events: none;
}
.legends{
    padding-bottom: 20vh;
    z-index: 10;
    transition: opacity 0.4s;
}
.legends.hidden{
    opacity: 0;
}
.legends h1{
    font-weight: 500;
}
.dyBox-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: calc(1vh / 0.618);
    box-sizing: border-box;
    z-index: 10;
    transition: height 0.2s;
}
.dyBox-container.stretched-full{
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
}
.dyBox{
    width: 100%;
    background: #ffffff18;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border-radius: calc(3vh / 0.618);
    transition: height 0.2s ease;
    box-shadow: 0.5px 0 15px #00000038;
    overflow: hidden;
}
.dyBox.primary{
    height: 10vh;
}
.dyBox.secondary{
    height: 22vh;
}
.dyBox.tertiary{
    height: 32vh;
}
.dyBox.x-max{
    height: 72vh;
}
.inner-box.s1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-radius: calc(3vh / 0.618);
}
.inner-box.s1.none{
    display: none;
}
.left-section{
    display: flex;
    align-items: center;
    width: calc(100% - 10vh);
    height: 100%;
    color: #fffb;
    padding-left: calc(2vh / 0.618);
    box-sizing: border-box;
    font-size: 0.8em;
    user-select: none;
    transition: opacity 0.2s, visibility 0.2s;
}
.left-section.hidden{
    opacity: 0;
    visibility: hidden;
}
.upload-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    scale: 0.85;
    border-radius: 50%;
    background: #fff;
    transition: opacity 0.2s, visibility 0.2s;
}
.upload-btn.hidden{
    opacity: 0;
    visibility: hidden;
}
.upload-btn .icon.new-file{
    fill: #000;
    width: 2.25em;
    height: 2.25em;
}
.inner-box.s2{
    width: 100%;
    height: 100%;
    padding: calc(3vh * 0.618);
    box-sizing: border-box;
}
.inner-box.s2.none{
    display: none;
}
.upper-section{
    justify-content: space-between;
    height: calc(100% - calc(10vh - calc(2vh / 0.618)));
    padding-bottom: calc(3vh * 0.618);
    box-sizing: border-box;
}
.docviewer{
    background: #ffffff18;
    width: 10vh;
    height: 100%;
    border-radius: calc(2vh / 0.618);
}
.upper-section ._edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.8vh;
    height: fit-content;
    background: #ffffff10;
    color: #ffbf00;
    padding: 0.25vh;
    border-radius: 2vh;
}
.upper-section .icon{
    fill: #ffbf00;
    width: 1.2em;
    height: 1.2em;
    translate: -3pt;
}
.upper-section span{
    translate: -1pt;
}
.upper-section, .lower-section{
    display: flex;
    width: 100%;
}
.lower-section{
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.add-bar{
    width: 100%;
    height: calc(10vh - calc(1.85vh / 0.618));
    background: #fff;
    border-radius: calc(1.618vh / 0.618);
}